<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538569861021-ctfph1fese305uksu6399jj00l29qdra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538569861021-ctfph1fese305uksu6399jj00l29qdra</string>
	<key>API_KEY</key>
	<string>AIzaSyAx0A88hID42yqKA0u9xX3CeP9EYnf3zQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>538569861021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alertYourTask</string>
	<key>PROJECT_ID</key>
	<string>test-95243</string>
	<key>STORAGE_BUCKET</key>
	<string>test-95243.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538569861021:ios:6e1bddd27fbb41ae503174</string>
</dict>
</plist>